a{
    color: blue;
}

body{
    margin: 0;
    font-family: "Komika Text";
    background: white;
    width: 360px;
  }
  
  .header{
    flex-wrap: wrap;
    display: -webkit-flex;
    height: 255px;
  }

  .header-menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .titulo{
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
    color: #f2d0a9;
    background: #595959;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    font-size: 30px;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
  }
  
  .menu-opciones{
    display: flex;
    background: #cccccc;
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35px;
    justify-content: center;
  }
  
  .menu-opciones__texto{
    text-decoration: none;
  }
  
  .menu-opciones__elemento{
    padding: 0 5px 0 5px;
    font-size: 25px;
  }
  
  .header-imagen{
    width: 100%;
  }
  
  .header__imagen{
    width: 100%;
    height: 170px;
  }

  
.servicio{
    display: flex;
    flex-wrap: wrap;
    background: #f2f2f2;
    width: 359.5px;
    height: 220px;
    border: 0.1px solid black;
  }
  
  .imagen-servicio{
    height: 100px;
    padding: 0 50px;
    filter: drop-shadow(0 0 10px black);
  }
  
  .servicio-imagen__elemento{
    width: 100%;
    height: inherit;
  }
  
  .texto-servicio{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    font-size: 20px;
  }
  
  .texto-servicio__titulo{
    margin: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  
  .texto-servicio__enlace{
    font-size: 20pt;
  }
  
  .texto-servicio__texto{
    width: 100%;
    margin: 0;
    color: black;
    text-align: center;
  }


  .noticias{
    background: #cccccc;
    display: flex;
    flex-wrap: wrap;
    width: 359.5px;
    height: 300px;
    border: 0.1px solid black;
  }
  
  .separa-noticias__noticias{
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .imagen-noticias{
    width: 45%;
    margin: 0;
    padding: 0 0 0 5px;
  }
  
  .noticias-imagen__elemento{
    width: 100%;
    height: 180px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
  }
  
  .texto-noticias{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 250px;
    color: rgb(0, 0, 0);
    padding: 0 0 0 10px;
  }
  
.texto-noticias__titulo{
    font-size: 20px;
    margin: 0;
}

.texto-noticias_texto{
    margin: 0 0 5px 0;
}

  .texto-noticias__enlace{
    font-size: 14pt;
    color: rgb(0, 0, 0);
  }
  
  .noticias__enlace{
      text-align: end;
      padding: 0 10px 0 0;
  }


  .miembros{
    background: #7f7f7f;
    width: 359.5px;
    height: 300px;
    border: 0.1px solid black;
  }
  
  .imagen-members{
    width: 100%;
  }
  
  .members-imagen__elemento{
    width: 100%;
  }
  
  .texto-members{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  
  .texto-members__titulo{
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 25px;
  }
  
  .texto-members__texto{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 20px;
    
  }
  
  .pie-de-pagina{
    width: 359.5px;
    background: #595959;
    text-align: center;
    border: 0.1px solid black;
    color: white;
    border-radius:  0 0 15px 15px;
  }
  

  @media screen and (min-width: 576px){
  
body{
  margin: 0;
  font-family: "Komika Text";
  background: white;
  width: 576px;
}

.header{
  flex-wrap: wrap;
  display: -webkit-flex;
  height: 255px;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.titulo{
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0;
  color: #f2d0a9;
  background: #595959;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  font-size: 30px;
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.menu-opciones{
  display: flex;
  background: #cccccc;
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35px;
  justify-content: center;
}

.menu-opciones__texto{
  text-decoration: none;
}

.menu-opciones__elemento{
  padding: 0 5px 0 5px;
  font-size: 25px;
}

.header-imagen{
  width: 100%;
}

.header__imagen{
  width: 100%;
  height: 170px;
}


.servicio{
  display: flex;
  background: #f2f2f2;
  width: 576px;
  height: 220px;
  border: 0.1px solid black;
}

.imagen-servicio{
  height: 100px;
  padding: 0 50px;
  filter: drop-shadow(0 0 10px black);
}

.servicio-imagen__elemento{
  width: 100%;
  height: inherit;
}

.texto-servicio{
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  font-size: 20px;
}

.texto-servicio__titulo{
  margin: 0;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.texto-servicio__enlace{
  font-size: 20pt;
}

.texto-servicio__texto{
  width: 100%;
  margin: 0;
  color: black;
  text-align: center;
}


.noticias{
  background: #cccccc;
  display: flex;
  flex-wrap: wrap;
  width: 576px;
  height: 300px;
  border: 0.1px solid black;
}

.separa-noticias__noticias{
  display: flex;
  width: 100%;
  align-items: center;
}

.imagen-noticias{
  width: 45%;
  margin: 0;
  padding: 0 0 0 5px;
}

.noticias-imagen__elemento{
  width: 100%;
  height: 180px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15px;
}

.texto-noticias{
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 250px;
  color: rgb(0, 0, 0);
  padding: 0 0 0 10px;
}

.texto-noticias__titulo{
  font-size: 20px;
  margin: 0;
}

.texto-noticias_texto{
  margin: 0 0 5px 0;
}

.texto-noticias__enlace{
  font-size: 14pt;
  color: rgb(0, 0, 0);
}

.noticias__enlace{
    text-align: end;
    padding: 0 10px 0 0;
}


.miembros{
  background: #7f7f7f;
  width: 576px;
  height: 300px;
  border: 0.1px solid black;
}

.imagen-members{
  width: 100%;
}

.members-imagen__elemento{
  width: 100%;
  height: 200px;
}

.texto-members{
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

.texto-members__titulo{
  width: 100%;
  margin: 5px 0 0 0;
  text-align: center;
  font-size: 25px;
}

.texto-members__texto{
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 20px;
  
}

.pie-de-pagina{
  width: 576px;
  background: #595959;
  text-align: center;
  border: 0.1px solid black;
  color: white;
  border-radius:  0 0 15px 15px;
}

}

@media screen and (min-width: 768px){
  body{
    margin: 0;
    font-family: "Komika Text";
    background: white;
    width: 768px;
  }
  
  .header{
    display: -webkit-flex;
    height: 255px;
  }
  
  .header-menu{
    width: 100%;
  }
  
  .titulo{
    display: flex;
    width: 50%;
    height: 50px;
    margin: 0;
    color: #f2d0a9;
    background: #595959;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 0;
    font-size: 30px;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
  }
  
  .menu-opciones{
    display: flex;
    background: #cccccc;
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50px;
    align-items: center;
    border-radius: 0 15px 0 0;
  }
  
  .menu-opciones__texto{
    text-decoration: none;
  }
  
  .menu-opciones__elemento{
    padding: 0 5px 0 5px;
    font-size: 25px;
  }
  
  .header-imagen{
    width: 100%;
  }
  
  .header__imagen{
    width: 100%;
    height: 205px;
  }


  .services{
    display: flex;
    justify-content: space-evenly;
  }

  .servicio{
    display: inline-block;
    background: #f2f2f2;
    width: 254.2px;
    height: 220px;
    margin: 0;
    border: 0.1px solid black;
  }
  
  .imagen-servicio{
    height: 100px;
    padding: 0 50px;
    filter: drop-shadow(0 0 10px black);
  }
  
  .servicio-imagen__elemento{
    width: 100%;
    height: inherit;
  }
  
  .texto-servicio{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  
  .texto-servicio__titulo{
    margin: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  
  .texto-servicio__enlace{
    font-size: 22pt;
  }
  
  .texto-servicio__texto{
    width: 100%;
    margin: 0;
    color: black;
    text-align: center;
    font-size: 12pt;
  }
  

  .news{
    display: flex;
    flex-wrap: wrap;
  }
  
  .noticias{
    background: #cccccc;
    display: flex;
    flex-wrap: wrap;
    width: 382px;
    height: 300px;
    border: 0.1px solid black;
  }
  
  .separa-noticias__noticias{
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .imagen-noticias{
    width: 40%;
    margin: 0;
    padding: 0 0 0 5px;
  }
  
  .noticias-imagen__elemento{
    width: 100%;
    height: 180px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
  }
  
  .texto-noticias{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    color: rgb(0, 0, 0);
    padding: 0 0 0 20px;
  }
  
  .texto-noticias__titulo{
    font-size: 20px;
    margin: 0;
    padding: 0 0 0 15px;
  }
  
  .texto-noticias__texto{
    margin: 0 0 5px 15px;
  }
  
  .texto-noticias__enlace{
    font-size: 14pt;
    color: rgb(0, 0, 0);
  }
  
  .noticias__enlace{
      text-align: end;
      padding: 0 10px 0 15px;
  }
  
  
  .members{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .miembros{
    background: #7f7f7f;
    width: 254px;
    height: 300px;
    border: 0.1px solid black;
  }
  
  .imagen-members{
    width: 100%;
  }
  
  .members-imagen__elemento{
    width: 100%;
    height: 200px;
  }
  
  .texto-members{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  
  .texto-members__titulo{
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 23px;
  }
  
  .texto-members__texto{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 17px;
    
  }
  
  .pie-de-pagina{
    width: 766px;
    background: #595959;
    text-align: center;
    border: 0.1px solid black;
    color: white;
    border-radius:  0 0 15px 15px;
  }
  
}

@media screen and (min-width: 992px) {
  body{
    margin: 0;
    font-family: "Komika Text";
    background: white;
    width: 992px;
  }
  
  .header{
    display: -webkit-flex;
    height: 255px;
  }
  
  .header-menu{
    width: 100%;
  }
  
  .titulo{
    display: flex;
    width: 50%;
    height: 50px;
    margin: 0;
    color: #f2d0a9;
    background: #595959;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 0;
    font-size: 30px;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
  }
  
  .menu-opciones{
    display: flex;
    background: #cccccc;
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0 15px 0 0;
  }
  
  .menu-opciones__texto{
    text-decoration: none;
  }
  
  .menu-opciones__elemento{
    padding: 0 15px 0 5px;
    font-size: 25px;
  }
  
  .header-imagen{
    width: 100%;
  }
  
  .header__imagen{
    width: 100%;
    height: 205px;
  }


  .services{
    display: flex;
  }

  .servicio{
    display: inline-block;
    background: #f2f2f2;
    width: 331px;
    height: 220px;
    margin: 0;
    border: 0;
  }
  
  .imagen-servicio{
    height: 100px;
    padding: 0 50px;
    filter: drop-shadow(0 0 10px black);
  }
  
  .servicio-imagen__elemento{
    width: 100%;
    height: inherit;
  }
  
  .texto-servicio{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  
  .texto-servicio__titulo{
    margin: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  
  .texto-servicio__enlace{
    font-size: 24pt;
  }
  
  .texto-servicio__texto{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 13pt;
  }
  

  .news{
    display: flex;
    flex-wrap: wrap;
  }
  
  .noticias{
    background: #cccccc;
    display: flex;
    flex-wrap: wrap;
    width: 496px;
    height: 301px;
    border: 0;
    box-shadow: none;
  }
  
  .separa-noticias__noticias{
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .imagen-noticias{
    width: 40%;
    margin: 0;
    padding: 0 0 0 5px;
  }
  
  .noticias-imagen__elemento{
    width: 100%;
    height: 180px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
  }
  
  .texto-noticias{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    color: rgb(0, 0, 0);
    padding: 0 0 0 20px;
  }
  
  .texto-noticias__titulo{
    margin: 0;
    padding: 0 0 0 15px;
  }
  
  .texto-noticias__texto{
    margin: 0 0 5px 15px;
    font-size: 13pt;
  }
  
  .texto-noticias__enlace{
    font-size: 18pt;
    color: rgb(0, 0, 0);
  }
  
  .noticias__enlace{
      text-align: end;
      padding: 0 10px 0 15px;
  }
  
  
  .members{
    display: flex;
    border: 0;
    height: 250px;
  }
  .miembros{
    background: #7f7f7f;
    width: 198.4px;
    height: 250px;
    border: 0;
  }
  
  .imagen-members{
    width: 100%;
    height: 150px;
  }
  
  .members-imagen__elemento{
    width: 100%;
    height: 150px;
  }
  
  .texto-members{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  
  .texto-members__titulo{
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 22px;
  }
  
  .texto-members__texto{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
    
  }
  
  .pie-de-pagina{
    display: flex;
    width: 992px;
    background: #595959;
    justify-content: center;
    color: white;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius:  0 0 15px 15px;
  }
}

@media screen and (min-width: 1200px) {
  body{
    margin: 0;
    font-family: "Komika Text";
    background: white;
    width: 1200px;
  }
  
  .header{
    display: -webkit-flex;
    height: 355px;
  }
  
  .header-menu{
    width: 100%;
  }
  
  .titulo{
    display: flex;
    width: 50%;
    height: 60px;
    margin: 0;
    color: #f2d0a9;
    background: #595959;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 0;
    font-size: 35px;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
  }
  
  .menu-opciones{
    display: flex;
    background: #cccccc;
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0 15px 0 0;
  }
  
  .menu-opciones__texto{
    text-decoration: none;
  }
  
  .menu-opciones__elemento{
    padding: 0 15px 0 5px;
    font-size: 30px;
  }
  
  .header-imagen{
    width: 100%;
  }
  
  .header__imagen{
    width: 100%;
    height: 295px;
  }


  .services{
    display: flex;
  }

  .servicio{
    display: flex;
    background: #f2f2f2;
    width: 400px;
    border: 1px solid;
    box-shadow: #000000;
    height: 250px;
    margin: 0;
  }
  
  .imagen-servicio{
    height: 100px;
    padding: 0 50px;
    filter: drop-shadow(0 0 10px black);
  }
  
  .servicio-imagen__elemento{
    width: 100%;
    height: inherit;
  }
  
  .texto-servicio{
    display: flex;
    flex-wrap: wrap;
    height: 110px;
  }
  
  .texto-servicio__titulo{
    margin: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  
  .texto-servicio__enlace{
    font-size: 25pt;
  }
  
  .texto-servicio__texto{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 14pt;
  }
  

  .news{
    display: flex;
    flex-wrap: wrap;
  }
  
  .noticias{
    background: #cccccc;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 301px;
  }
  
  .separa-noticias__noticias{
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .imagen-noticias{
    width: 40%;
    margin: 0;
    padding: 0 0 0 5px;
  }
  
  .noticias-imagen__elemento{
    width: 100%;
    height: 180px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
  }
  
  .texto-noticias{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    color: rgb(0, 0, 0);
    padding: 0 0 0 20px;
  }
  
  .texto-noticias__titulo{
    margin: 0;
    padding: 0 0 0 15px;
  }
  
  .texto-noticias__texto{
    margin: 0 0 15px 15px;
    font-size: 14pt;
  }
  
  .texto-noticias__enlace{
    font-size: 20pt;
    color: rgb(0, 0, 0);
  }
  
  .noticias__enlace{
      text-align: end;
      padding: 0 10px 0 15px;
  }
  
  
  .members{
    display: flex;
    border: 0;
    height: 250px;
  }

  .miembros{
    background: #7f7f7f;
    width: 240px;
    height: 250px;
    border: 0;
  }
  
  .imagen-members{
    width: 100%;
    height: 150px;
  }
  
  .members-imagen__elemento{
    width: 100%;
    height: 150px;
  }
  
  .texto-members{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  
  .texto-members__titulo{
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 23px;
  }
  
  .texto-members__texto{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 17px;
    padding: 0 20px;
    
  }
  
  .pie-de-pagina{
    display: flex;
    width: 1200px;
    background: #595959;
    justify-content: center;
    color: white;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius:  0 0 15px 15px;
  }
}